/** Meyer Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root{
    --my-font:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --create-acc-button:#596D48;
    --inputs:#E5E7EB
}
@font-face{
    font-family: odin-font;
    src: url(Norse-Bold.otf);
}


body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
}
.left-side-bar{
    max-height: 100vh; 
    position: relative;

}
.left-side-bar > img{
    width: 600px ;
    height: 827px;  

}
.background-logo{
    position: absolute;
    top:180px;
    width: 600px; 
    background-color: rgb(0,0,0,0.4);
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-logo > img{
    width: 90px;
    height: 110px;
}
.logo-txt{
    color: white;
    font-family: odin-font;
    font-size: 80px;
}
.credit{
    color: white;
    position:absolute ;
    bottom: 1vh;
    left: 190px;
}
a {
    color: white;
    padding: 0px 3px;
}
.right-content{
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    max-width: 1130px;
}
.uppertxt2,
.uppertxt1{
    position: absolute;
    top: 130px; 
    font-size: 20px;
    font-weight:bold;
    padding-left: 40px;
    max-width: 550px;
    line-height: 25px;
}
em {
    font-style: italic;
}
.uppertxt2{
    top: 240px; 
   
}

form {
    background-color: white;
    display: flex;
    padding:55px 30px 5px;
    margin-top: 320px;
    padding-right: 630px;
    position:relative;
}

legend{
    position: absolute;
    top: 0px;  /** 1000 times better, relative in the parent - do the same for the left side  */
    padding-left: 10px;
    padding-top:20px ;
    font-size: 20px;
    font-weight: bold;
    text-align:left;
}

fieldset{
    display: flex;
    flex-direction: column;
    padding:0px 40px 0px 10px;
}

input{
    padding: 5px 45px;
    border:1px solid var(--inputs);
    border-radius: 3px;
    margin-bottom: 20px;   /** writing */
}
label{
    margin-bottom: 5px;
    font-size: 14px;
}
button{
    background-color: var(--create-acc-button);
    color: white;
    padding: 10px 35px;
    border: 0px; 
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 50px;
    max-width: 220px;
}
.right-content>div:last-child{
    font-size: 18px;
    margin-top: 25px;
    margin-left: 50px;   
}
a[href*=stanimirkosev]{    
    color: var(--create-acc-button);
    text-decoration: none;
}